@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 36px;
}

button {
    background-color: rgba(100,21,255);
    padding: 15px 30px;
    color: white;
    border-radius: 9999px;
    border: none;
    max-width: 160px;
    font-size: 18px;
    transition: all ease 300ms;
}

button:hover {
    background-color: rgb(76, 41, 146) ;
}

li {
    list-style-type: none;
}
ul {
    display: flex;
}

h1 {
    font-size: 60px;
    margin:  8px 0 4px 0 ;
    
}

.title__max-width {
    max-width: 800px;
    min-width: 400px;
}

h2 {
    font-size: 50px;
    
}

.text__color {
   color:  rgba(100,21,255);
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.row     {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

.container {
    padding: 80px 0;
}

.para {
    text-align: center;
    color: rgb(122, 125, 128);
    width: 100%;
    max-width: 560px;
    margin:  20px 0;
    
}

.section__title {
    margin-left: 30px;
}

.section__title--mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*

NAV

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 36px;
}

.nav__links  {
    display: flex; 
    align-items: center;
}

.nav__link {
   margin:  0 20px;
   transition: all 300ms ease;
}

    

.hover-underline-animation {
    display: inline-block;
    position: relative;
   
  }

  .hover-underline-animation:hover {
    color: rgba(100,21,255);
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(100,21,255);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    
  }
  
  .hover-underline-animation:hover:after {
    
    transform: scaleX(1);
    transform-origin: bottom left;
    
  }

.login__link {
    margin-left: 40px;
}



.sign-up__link {
    background-color: rgba(100,21,255);
    padding: 12px 30px;
    color: white;
    border-radius: 9999px;
    border: none;
    
}

.sign-up__link:hover {
    background-color: rgb(76, 41, 146) ;
}

/*


FRONT


*/

#front {
    margin-top: 130px;
}

.parent {
    padding: 0 30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.frond__description {
    width: 40%;
    display: flex;
    flex-direction: column;
    
}


.desk__img--wrapper {
    width: 60%;
    
    display: flex;
}
.desk__img {
   width: 100%;
    
}





.subtitle {
    margin: 30px 0 50px 0;
    
    font-weight: 300;

}

/*

SERVICE 

*/

#service {
    padding-bottom: 90px;
}

.text__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: rgba(100,21,255);;
    font-weight: 700;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    width: calc(100% / 3);
    margin: 30px 50px;
    max-width: 300px;
    

}

/*

WORK 

*/


.work__para {
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.work__img--wrapper {
    width: 50%;
    margin-left: 20px;
    max-width: 450px;
}

.work__img {
    width: 100%;
}

.work__description {
    color: rgb(122, 125, 128);
    width: 100%;
    max-width: 460px;
    margin:  20px 0;
    line-height: 1.5;
}

/*

START

*/

#start {
    padding: 90px 0;
}

.start__para {
    width: 50%;
    margin-left: 30px;
}



.step {
    display: flex;
    margin-top: 20px;
}

.numbers {
    font-size: 40px;
    margin: 0 20px 0 40px;
    color: rgba(203,213,224)

}

.step__description {
display: flex;
flex-direction: column;
}

.start__description__title {
    font-size: 20px;
    margin-top: 5px;
}

.start__description {
    color: rgb(122, 125, 128);
    width: 100%;
    max-width: 300px;
    margin:  20px 0;
    line-height: 1.5;
}